
@{
    ViewBag.Title = "Booking History";
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
}

<style>
    * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.BookingHistorysubheader {
    background-image:url(/assets/images/BookingHistory.jpg);
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 450px;
}
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

    .notfound .notfound-404 {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 140px;
        height: 140px;
        background-image: url('/assets/images/emoji.png');
        background-size: cover;
    }

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
      -ms-transform: scale(2.4);
          transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}

.notfound h1 {
  /*font-family: 'Nunito', sans-serif;*/
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.notfound h2 {
  /*font-family: 'Nunito', sans-serif;*/
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}

.notfound p {
  /*font-family: 'Nunito', sans-serif;*/
  color: #999fa5;
  font-weight: 400;
}

.notfound a {
  /*font-family: 'Nunito', sans-serif;*/
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}

@@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}

    @@media only screen and (max-width:767px) {
        .destFont {
            font-size: 18px;
        }

        .destIcon {
            margin-bottom: 0px;
            transform: rotate(90deg);
        }
    }

    @@media only screen and (min-width:889px) {
        .destColumn {
            display: contents;
        }
    }
    
</style>

<div class="BookingHistorysubheader normal-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 BookingHistory">
                <h1 key="bookinghistory" class="text-custom-white">Booking History</h1>

            </div>
        </div>
    </div>
</div>




<div class="container-fluid pt-5 pb-5">

    <div class="row">
        <div class="col-12">
            <div class="listing-top-heading mb-xl-20 BookingHistory">
                <h6 key="WelcometoMyBookings" class="no-margin text-custom-black" id="ResultData">Welcome to My Bookings</h6>
                <div class="sort-by d-none">
                    <span class="text-custom-black fs-14 fw-600">Sort by</span>
                    <div class="group-form">
                        <select class="form-control form-control-custom custom-select">
                            <option>A to Z</option>
                            <option>Z to A</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs">
        <ul class="custom-flex nav nav-tabs">
            <li class="nav-item BookingHistory">
                <a id="myBookingCount" key="MyBookings" onclick="GetOpenStatusFlights()" class="nav-link active" data-toggle="tab" href="#hotel-booking">My Bookings</a>
            </li>
            <li class="nav-item BookingHistory">
                <a id="cancelledbookingCount" key="CanceledBookings" onclick="GetCancelBookingDetailsByUserId(UserId)" class="nav-link" data-toggle="tab" href="#flights-booking">Cancelled Bookings</a>
            </li>

        </ul>
        <div class="tab-content bg-custom-white bx-wrapper padding-20" style="min-height:400px">
            <div class="tab-pane fade active show" id="hotel-booking">
                <div class="tab-inner">
                    <div class="row pl-2 pr-2  pb-5" id="bookingRowAppend">

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="flights-booking">
                <div class="tab-inner">
                    <div class="row pl-2 pr-2  pb-5" id="CancelbookingRowAppend">

                    </div>
                </div>
            </div>


        </div>
    </div>


    

</div><!-- end container -->
<script type="text/x-handlebars" id="temp_FromDestinationAR">
    {{#each this}}
    <option value="{{base}}">{{bookingDestinationAR}}</option>
    {{/each}}

</script>
@section scripts {
    <script src="~/Register/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/locale/ar.min.js" integrity="sha512-EOEeyWHiCPkh0uHPbUjyQsrQtLaG1qR+TvKVctJjmRPzYiCTQAuszMsZGM6ms5oBWZyl3KvtaRkKigSzi/vGZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Register/js/BookingHistory.js"></script>
    <script src="~/Register/js/Languages.js"></script>
}


